# misc
**/.DS_Store
**/.pem

# dependencies
**/node_modules
**/.pnp
**/.pnp.js

# testing
**/coverage

# debug
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.pnpm-debug.log*

# env files
**/.env
**/.env*

# typescript
**/.tsbuildinfo

# IDE
**/.idea
**/.vscode

# Frontend
./apps/**/.next/
./apps/**/out/
./apps/**/next-env.d.ts
./apps/**/build
./apps/**/.vercel
