
/* width */
body *::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

/* Handle */
body *::-webkit-scrollbar-thumb:hover {
    background: #59597c;
    border-radius: 99px !important;

}

/* Handle */
body *::-webkit-scrollbar-thumb {
    background: #59597c;
    border-radius: 99px !important;

}

/* Handle on hover */
body *::-webkit-scrollbar-track:hover {
    background: #E6D2AA20;
}
